* {
    margin : 0;
    padding: 0;
    border :0;
}
div {
    margin :0;
    padding : 0;
}
body{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    color:white;
    font-family: 'Lobster', cursive;
    top :80px; 
}
h4{
    color:white;
    font-family: 'Lobster', cursive;
}
input{
 width: 500px;
 height: 50px;
}
button{
    width: 100px;
    height: 50px;
}
p{
    font-family: 'Righteous', cursive;
}
span{
    font-family: 'Open Sans', sans-serif;
    color: black
}
#countryName{
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    font-size: 32px;
    color:#f1ed0c;
    font-weight: bolder;
}
#results{
    min-width: 400px;
    max-height: 600px;
    align-items: center;
    text-align: center;
  
    display: none;
}
#flag{
    width: 200px;
    height:200px;
    display: none;
}

.country {
    padding :10px; 
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:tomato ;

}